<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8535540836842352"
     crossorigin="anonymous"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-51LVT1KPFF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-51LVT1KPFF');
</script>

<!--로딩 대기 스크립트-->   
<!-- 
<script>
function rmLoadOverwapper(){
 document.querySelector("#loadOverwrapper").classList.add("none");
 document.querySelector("html,body").style.overflow="auto";
 document.querySelector("#dkWrap").classList.add("none");
}

setTimeout(function(){
    rmLoadOverwapper();
}, 800);
</script> 
-->

<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "j4b32u1du0");
</script>