/*
    You can add your own custom styles here.
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 400;
}
  
.article-subtitle {
    word-break: keep-all;
}
  
.article-page {
    .main-article {
        .article-header {
            .article-image {
                text-align: center;
                background: #fff;
                font-size: 0;
                padding: var(--card-padding);

                img {
                    max-width: 100%;
                    width: auto;
                    object-fit: contain;
                }
            }
        }

        .article-content {
            word-break: keep-all;

            img {
                display: block;
                margin: 0 auto;
            }

            ol,
            ul {
                margin: 1.5em 0;
                padding: 0 2rem;
            }

            ol ul,
            ul ul {
                margin: -0.5em 0 2em;
                padding-left: 0.8em;
            }

            blockquote p {
                margin: 1.5rem 0;
            }

            blockquote p + ul,
            blockquote p + ol {
                margin: -1rem 0 1.5rem;
            }
        }
    }
}

.links .article-image {background: #fff;font-size: 0;border-radius: var(--card-border-radius);}
.article-title a {display: block;}
.ads_top {margin-top: 3rem;padding: 0 var(--card-padding);}
.main-article .google-auto-placed {margin: 1.5em 0;}
.related-content .article-image img {display: none !important;}
.related-content article.has-image .article-details {background:#424242 !important;word-break: keep-all;}
[data-scheme=light] .related-content article.has-image .article-details {background: #fff !important;}
[data-scheme=light] .related-content article .article-title {color: var(--card-text-color-main) !important;}
.related-content .article-list--tile article .article-details {line-height: 1.4;justify-content: center;align-items: center;text-align: center;}

/* 로딩 사이클 애니매이션 */
#loadOverwrapper {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background:rgba(255, 255, 255, 1);z-index: 1;}
#loadOverwrapper.none .loader {display:none;}
#loadOverwrapper.none{display:none;z-index:-1;}

.loader {
  position: fixed;top: 50%;left: 50%;margin-left:-50px;margin-top:-150px;
  height: 100px;
  width: 100px;
  border: 10px solid rgba(255,255,255,0);;
  border-right-color: #8ab4f8;
  border-top-color: #8ab4f8;
  border-radius: 100%;
  -webkit-animation: spin 600ms infinite linear;
          animation: spin 600ms infinite linear;
   z-index:2;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

