/*
    You can add your own custom styles here.
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 400;
}
  
.article-subtitle {
    word-break: keep-all;
}
  
.article-page {
    .main-article {
        .article-header {
            .article-image {
                text-align: center;
                background: #fff;
                font-size: 0;
                padding: var(--card-padding);

                img {
                    max-width: 100%;
                    width: auto;
                    object-fit: contain;
                }
            }
        }

        .article-content {
            word-break: keep-all;

            img {
                display: block;
                margin: 0 auto;
            }

            ol,
            ul {
                margin: 1.5em 0;
                padding: 0 2rem;
            }

            ol ul,
            ul ul {
                margin: -0.5em 0 2em;
                padding-left: 0.8em;
            }
            
            .mt-1 {
                margin-top:-1em;
            }

            blockquote p {
                margin: 1.5rem 0;
            }

            blockquote p + ul,
            blockquote p + ol {
                margin: -1rem 0 1.5rem;
            }

            code {
                color:var(--card-text-color-main);
                background: none;
                padding: 0;
            }

            strong code,
            strong a {
                font-weight: 700;
                color: var(--card-text-color-main);
            }

            h2 a,
            h3 a,
            h4 a {display: none;}
        }
    }
}

.article-title a {display: block;}
.ads_top {margin-top: 3rem;padding: 0 var(--card-padding);}
.main-article .google-auto-placed {margin: 1.5em 0;}
// .related-content .article-image img {display: none !important;}
// .related-content article.has-image .article-details {background:#424242 !important;word-break: keep-all;}
// [data-scheme=light] .related-content article.has-image .article-details {background: #fff !important;}
// [data-scheme=light] .related-content article .article-title {color: var(--card-text-color-main) !important;}
.related-content .article-list--tile article .article-details {line-height: 1.4;word-break: keep-all;}
.article-list article .article-image { text-align: center; padding: 15px;background: #fff;}
.article-list article .article-image a {display: block; font-size: 0; }
.article-list article .article-image img { object-fit: contain; width: auto; height: auto; max-width: 100%; max-height: 30vh; }
.article-list--compact article .article-image {background: #fff;border-radius: 5px;padding: 5px;border: 1px solid var(--card-separator-color);}
.article-list--compact article .article-image img {width:calc(var(--image-size) * 2);object-fit: contain;}
.article-list--compact.links article .article-image {border: none;border-radius: var(--card-border-radius);}
.article-list--compact.links article .article-image img {width:var(--image-size);}

/* 로딩 사이클 애니매이션 */
#loadOverwrapper {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background:rgba(255, 255, 255, 1);z-index: 1;}
#loadOverwrapper.none .loader {display:none;}
#loadOverwrapper.none{display:none;z-index:-1;}

.loader {
  position: fixed;top: 50%;left: 50%;margin-left:-50px;margin-top:-150px;
  height: 100px;
  width: 100px;
  border: 10px solid rgba(255,255,255,0);;
  border-right-color: #8ab4f8;
  border-top-color: #8ab4f8;
  border-radius: 100%;
  -webkit-animation: spin 600ms infinite linear;
          animation: spin 600ms infinite linear;
   z-index:2;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.video_con {position: relative;width: 100%;padding-bottom: 56.4%;z-index: 1;}
.video_con iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.btn_wrap {
    display: flex;
    flex-wrap:wrap;
    gap : 15px;

    a {
        display: flex;
        align-items: flex-start;
        color: var(--accent-color);
        padding: 8px 16px;
        border-radius: var(--tag-border-radius);
        border: 1px solid var(--accent-color);
        font-size: 16px;
        font-weight: 500;
        word-break: keep-all;
        line-height: 1.5;
        transition: background-color .3s;
        

        &:hover {
            color: var(--accent-color-text);
            background: var(--accent-color);

            &::before {
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(144deg) brightness(120%) contrast(117%);
            }
        }
        &::before {
            content:'';
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-top: 4px;
            background:url(/link.svg) center center no-repeat;
            background-size: contain;
            filter: invert(23%) sepia(29%) saturate(585%) hue-rotate(169deg) brightness(103%) contrast(92%);
        }
    }
}

//다크모드 
[data-scheme=dark] {
    .btn_wrap {
        a {
            &:hover {
                &::before {
                    filter:brightness(0) saturate(100%);
                }
            }
            &::before {
                filter: invert(98%) sepia(3%) saturate(157%) hue-rotate(145deg) brightness(92%) contrast(107%);
            }
        }
    }
}

.article-lastmod, #i18n-switch {display: none !important;}

.menu-bottom-section {margin-top: auto;width: 100%;}